<!DOCTYPE html>
<html>
  <head>
    <title>AmwayBDM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <ul class="nav navbar-nav navbar-left">
        <li style="width:60px;height:50px">
          <img src="/amway_Logo.png" style="width:53px;height:32px;position:relative;left:25%;top:20%;" />
        </li>
        <li style="width:210px;height:50px"px>
          <a class="navbar-brand" href="#">安利商品展示管理后台</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href=<%= root_path %>> 品牌 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=<%= details_url %>> 产品 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=<%= plains_path %>> 展示样板 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=<%= machines_path %>> 展示货架 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">影片样板<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a class="nav-link" href=<%= video_plains_path %>> 建立影片样板 <span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a class="nav-link" href=<%= video_upload_page_path %>> 上传影片 <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">备份<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/backups">还原备份</a></li>
            <li><a href="/backups/genpage">产生备份</a></li>
          </ul>
        </li>
        <% if @session %>
          <li class="nav-item active">
            <a class="nav-link" href="/logout"> [ 登出 ] <span class="sr-only">(current)</span></a>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
